@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600');

.search {
    display: block;
    width: 100%;
    padding-left: 40px;
    padding-top: 20px;
    height: 80px;
    background: #036CE4;
    position: fixed;
    top: 0;
    z-index: 100;
}

.search-icon {
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-top: 2px;
}

#search {
    float: left;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 2em;
    color: white;
    width: 80%;
    border: none;
    background: transparent;
}

* {
    outline: none;
}

#search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#search:focus::-webkit-input-placeholder {
    color: transparent;
}

.container {
    margin: auto;
    max-width: 980px;
    text-align: center;
}

.list {
    margin-top: 130px;
    margin-bottom: 50px;
}

.pic {
    float: left;
    width: 230px;
    height: 230px;
    border-radius: 10px;
    margin: 0 10px 20px 5px;
    margin-bottom: 15px;
}

.pic:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.image {
    height: 100%;
    border-radius: 10px;
    background-size: cover;
}


/*-----Adding thumbnails------*/

.hay-bales {
    background-image: url(../img/01.jpg);
}

.lake {
    background-image: url(../img/02.jpg);
}

.canyon {
    background-image: url(../img/03.jpg);
}

.iceberg {
    background-image: url(../img/04.jpg);
}

.desert {
    background-image: url(../img/05.jpg);
}

.fall {
    background-image: url(../img/06.jpg);
}

.plantation {
    background-image: url(../img/07.jpg);
}

.dunes {
    background-image: url(../img/08.jpg);
}

.countryside-lane {
    background-image: url(../img/09.jpg);
}

.sunset {
    background-image: url(../img/10.jpg);
}

.cave {
    background-image: url(../img/11.jpg);
}

.bluebells {
    background-image: url(../img/12.jpg);
}

.no-results {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    border-radius: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.no-results:hover {
    transform: none;
}


/*--- Clearfix ----*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
